.productList{
    flex: 1;
}

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: pink;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    color: rgb(171, 23, 107);
    cursor: pointer;
}

.productShowImg{
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.productShowBottom{
    margin-top: 20px;
}

.productShowTitle{
    font-size: 16px;
    font-weight: 600;
    color: rgb(216, 103, 177);
}

.productShowInfo{
    display: flex;
    margin: 20px 0px;
}

.productShowIcon{
    font-size: 16px !important;
}

.productShowInfoTitle{
    margin-left: 10px;
}

.productUpdateImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 30px;
}

.productUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.productUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.productUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.productUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.productUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.productUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productUpdateUpload{
    align-items: center;
}

.productUpdateIcon{
    cursor: pointer;
}

.productUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(176, 67, 85);
    color: white;
    font-weight: 400;
}